<%= form_for @paper, :html => { multipart: true } do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
	<div class="field">
		<%= f.label :tag_list, "Tags (separated by commas)" %>
		<%= f.text_field :tag_list %>
	</div>
  <div class="field">
    <%= f.label :abstract %>
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :citation %>
    <%= f.text_area :citation %>
  </div>

  <div class="field">
    <%= f.label 'Paper file' %>
    <%= f.file_field :file %>
  </div>
  <hr>
  <div class="btn-group">
    <%= f.submit class: 'btn btn-small btn-primary' %>
    <% if @paper.id %>
      <%= link_to 'Back', paper_path(@paper), class: 'btn btn-small' %>
    <% else %>
      <%= link_to 'Back', papers_path, class: 'btn btn-small' %>
    <% end %>
  </div>
<% end %>
